<div>
    <h1></h1>
    <h1>{{universidad.nombre}}</h1>
    <p><b>Provincia : </b>{{universidad.provincia}}</p>
    <p><b>Ciudad : </b>{{universidad.ciudad}}</p>
    <p><b>Pagina Web : </b><a href={{universidad.web}}>{{universidad.web}}</a></p>
    <table class="table carreras" id="tabla-carreras">
        <thead>
            <tr>
                <th> Carrera </th>
                <th> Duracion </th>
            </tr>
        </thead>
        <tbody> 
        </tbody>
    </table>
</div>